/* How to build custom form controls using HTML? 
EXAMPLE 1 */

.select {
    position: relative;
    display: inline-block;
}

.select.active,
.select:focus {
    outline: none;
    box-shadow: 0 0 3px 1px #227755;
}

.select .optList {
    position: absolute;
    top: 100%;
    left: 0;
}

.select .optList.hidden {
    max-height: 0;
    visibility: hidden;
}